@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #091a52;
  --secondary-bg: #f8f6ff;
  --selected-dark-bg: #1d2c67;
  --selected-light-bg: #0876f3;
  --primary-text-color: #201f25;
  --secondary-text-color: #3e70a5;
}

body {
  @apply min-h-screen;
}
